<div class="col-md-3 mt-5">
    <h4>Filters</h4>
    
    <div class="mt-2">
       <p> Filter By Label </p>
      <% for(label of labels) { %>
        <div class="form-check">
          <input class="form-check-input checkLabel" type="checkbox"  value="<%=label._id %>" id="flexCheckChecked-<%= label._id %>"  data-value="<%= project._id%>" >
        <label class="form-check-label" for="flexCheckChecked">
          <%= label.name %>
        </label>
        </div>
      <% } %>
    </div>
    <div class="mt-5">
        <p>Filter By Author </p>
        <div class="mb-3">
          
            <input type="text" class="form-control" name="name" id="authorName" placeholder="Author Name" >
            <br />
           
          </div>
    </div>
    <div class="mt-2">
        <p>Search By Title and Description</p>
        
            <div class="mb-3">
                <label for="authorTitle" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="issueTitle" placeholder="Issue Name" required>
            </div>
            <div class="mb-3">
                <label for="issueDescription" class="form-label">Issue Description</label>
                <textarea class="form-control" id="issueDescription" rows="5" required></textarea>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" id="searchByTitleAndDesc"> Search </button>
              <button class="btn btn-danger" id="resetFilter" data-value="<%= project._id %>">Reset</button>
            </div>
            
        
    </div>
</div>
<script src="/js/filter.js"></script>